body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-image: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.black-toast {
  background-color: black;
}